*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.l-container  {
  max-width: 600px;
  width: 95%;
  margin: auto;
  position: relative;
}

.l-container--flex {
  display: flex;
}